<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Network with Spring Forces using D3.js</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap"
          rel="stylesheet">
    <style>
        .node {
            fill: steelblue;
            stroke: white;
            stroke-width: 1.5px;
        }
        .node text {
          font: 30px sans-serif;
        }
        .link {
            stroke: #000000;
            stroke-opacity: 0.6;
        }
        .roboto-mono-lolkek {
          font-family: "Roboto Mono", monospace;
          /* font-optical-sizing: auto; */
          font-weight: 400;
          font-style: normal;
          width: 50%; 
          float: right; 
          font-size: 12px;
        }

        .keepws { white-space: pre; }

        .graph { 
          width: 50%; 
          float: left; 
        } 
        .parent { 
          height:100%;
          width:100%;
          overflow:auto;
        } 
        
        .vertical-line { 
          width: 0px; 
          border-left: 1px solid #000; 
          height: 100%; 
          float: left; 
        }
        
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Pipeline state explorer</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../">Home</a>
          </li>
          {% if prev_call_id is not None %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ prev_call_id }}">⬅️ Previous</a>
            </li>
          {% else %}
            <li class="nav-item inactive">
              <a class="nav-link">❌ Previous</a>
            </li>
          {% endif %}
          {% if next_call_id is not None %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ next_call_id }}">Next ➡️</a>
            </li>
          {% else %}
            <li class="nav-item inactive">
              <a class="nav-link">Next ❌</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="parent">
      <div class="graph">
        <h3>
          {% autoescape off %}
            {{ instruction_title }}
          {% endautoescape %}
        </h3>
      </div>
      <div class="vertical-line"></div>
      <div class="roboto-mono-lolkek">
        {% autoescape off %}
          {{ scope_tree | safe }}
        {% endautoescape %}
      </div>
    </div>
    <script>
      // Create an array of nodes and edges
      const nodes = {{ nodes|safe }} ;
      const edges = {{ edges|safe }} ;
      
      
      let max_y_value = -Infinity;
      for (let node of nodes) {
        if (node.optimalY > max_y_value) {
          max_y_value = node.optimalY;
        }
      }
      const height = max_y_value * 6 / 4 + 400;
      
      const container = d3.select(".graph");
      const width = container.node().clientWidth;
      document.querySelector('.graph').style.height = height;
      document.querySelector('.parent').style.height = height;
    
      // Assign initial x and y values to each node
      for (let i = 0; i < nodes.length; i++) {
        nodes[i].x = width / 2 + i * 10;
        nodes[i].y = 50 + nodes[i].optimalY;
      }

      // Create an SVG element
      const svg = container.append("svg")
          .attr("width", width)
          .attr("height", height);

      svg.append('defs').append('marker')
          .attr('id','arrowhead')
          .attr('viewBox','-0 -5 10 10')
          .attr('refX',14)
          .attr('refY',0)
          .attr('orient','auto')
          .attr('markerWidth',20)
          .attr('markerHeight',20)
          .attr('xoverflow','visible')
          .append('svg:path')
          .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
          .attr('fill', '#555555')
          .style('stroke','none');

      // Create the simulation with forces
      const simulation = d3.forceSimulation(nodes)
          .force("link", d3.forceLink(edges).id(d => d.id).distance(50))
          .force("charge", d3.forceManyBody().strength(-1000))
          .force("x", d3.forceX(width / 2))
          .force("y", d3.forceY(function(d) { return 50 + d.optimalY; } ).strength(0.6));
          
      // Create edges
      const link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(edges)
        .enter().append("line")
        .attr("class", "link")
        .attr('marker-end', 'url(#arrowhead)');

      // Create nodes
      const node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(nodes)
        .enter().append("circle")
        .style("fill", function (d) { return d.color; })
        .attr("class", "node")
        .attr("r", 10)
        .call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended));
    
      var texts = svg.selectAll(".texts")
        .data(nodes)
        .enter()
        .append("text")
        .attr("dx", 12)
        .attr("dy", "0.35em")
        .text(function(d){ return d.name; });
        
      // Update positions of nodes and links on each tick
      simulation.on("tick", () => {
          link
              .attr("x1", d => d.source.x)
              .attr("y1", d => d.source.y)
              .attr("x2", d => d.target.x)
              .attr("y2", d => d.target.y);

          node
              .attr("cx", d => d.x)
              .attr("cy", d => d.y);

          texts.attr("x", d => d.x)
               .attr("y", d => d.y);
      });

      // Drag functions
      function dragstarted(event, d) {
          if (!event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
      }

      function dragged(event, d) {
          d.fx = event.x;
          d.fy = event.y;
      }

      function dragended(event, d) {
          if (!event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
      }

      // Resize the SVG when the window is resized
      window.addEventListener('resize', () => {
          const newWidth = container.node().clientWidth;
          const newHeight = 500;///container.node().clientHeight;

          svg.attr("width", newWidth).attr("height", newHeight);
          simulation.force("center", d3.forceCenter(newWidth / 2, newHeight / 2)).alpha(1).restart();
      });
    </script>
  </body>
</html>
